.container {
 max-width: 1540px;
 margin: 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
