.ai_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ai_content {
    
}
.ai_heading {
width: 240px;
height: 120px;
font-weight: 700;
font-size: 30.9px;
line-height: 40px;
letter-spacing: -0.16px;
vertical-align: middle;
cursor: pointer;
}
.ai_text {
font-weight: 400;
font-size: 16.6px;
line-height: 25.2px;
letter-spacing: 0px;
vertical-align: middle;
color: rgba(42, 43, 63, 1);
margin-top: 24px;
cursor: pointer;

}
.ai_btn {
border-radius: 4px;
border: 1px rgba(109, 40, 210, 1) solid;
padding: 12px;
background-color: transparent;
margin-top: 24px;
cursor: pointer;
}
.ai_img {
    cursor: pointer;
    width: 100%;
}