.companies__title {
    color: #595C73;
    text-align: center;
    margin: 63px 0 28px;
}
.companies__logos {
    @include d-flex(space-between,0);
}

.card_info-texts{
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.texts_wrapper_links{
    display: flex;
    flex-direction: column;
}

.card_content:hover{
    transform: translateY(-5px);
    transition: 0.4s;
}
