.course-spn {
  font-weight: 700;
}
.course-text {
  text-align: center;
  padding: 16px 0;
  font-size: 15px;
}


.header__main {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 12px 24px;
  box-shadow: 2px 2px 2px silver;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.header__link {
  color: #303141;
}
.header__explore {
  color: #303141;
}
#headerInput {
  width: 545px;
  padding: 14px 20px;
  border-radius: 25px;
}
.header__login {
  background-color: white;
  border: 3px solid #6d28d2;
  border-radius: 4px;
  padding: 15px;
  color: #6d28d2;
}
.header__signup {
  background-color: #6d28d2;
  border: 3px solid #6d28d2;
  border-radius: 4px;
  color: white;
  padding: 15px;
}
.header__space-btn {
  background-color: white;
  border: 3px solid #6d28d2;
  padding: 15px;
}


.header__topColor{
background-color: #c2e9eb;
}