.hero {
  padding: 64px 0 140px 0;
  background-image: url("/assets/hero\ main.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__skills-box {
    background-color: #fff;
    padding: 24px;
    width: 40%;
    margin-left: 40px;
    border-radius: 5px;
}
.hero__title {
    font-size: 30px;
    margin-bottom: 8px;
}