.bi-star-fill {
  color: #c4710d;
}
.lessons__star-number {
  color: #c4710d;
}
.lessons__price {
  @include d-flex(space-between);
}
.lessons__star {
  @include d-flex(space-between);
}
.lessons_main_wrapper {
display: flex;
align-items: center;
justify-content: center;
gap: 50px;

}

.lessons {
    padding: 20px;
}
.lessons__btn {
    background-color: #C2E9EB;
    border: none;
    padding: 5px 0;
    color: #216265;
    font-weight: 800;
}
.lessons__title {
    font-size: 30px;
    margin-bottom: 8px;
}
.lessons__text {
    margin-bottom: 31px;
}

.lessons__price {
  padding: 10px 10px;
}
.price__now {
  
}
.price__old {
}
.lessons__btn {
}