// header hero mediasi

@media only screen and (max-width: 1410px) {
  #headerInput {
    width: 460px;
  }
  .course-text {
    text-align: left;
  }
}

@media only screen and (max-width: 1360px) {
  .lessons_main_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .lessons__main_box {
    width: 50%;
  }
}

@media only screen and (max-width: 1310px) {
  .header__menu {
    display: none;
  }
  .bi-list {
    display: block;
  }
  .br {
    display: none;
  }
  .listbox-text {
    font-size: 10px;
  }

  .header__btns {
    display: none;
  }
}

@media only screen and (max-width: 1085px) {
  .reim__listbox-title {
    font-size: 14px;
  }
  .reim__listbox-text {
    font-size: 13px;
  }
  .lessons__img {
    width: 100%;
  }
  .reimagine__menu-boxes {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .lessons_main_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  .reimagine__list-box {
    width: 50%;
  }
  .companies__logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 911px) {
  .reim__listbox-title {
    font-size: 12px;
  }
  .reim__listbox-text {
    font-size: 10px;
  }
  .lessons_main_wrapper {
    display: grid;
    grid-template-columns: 1fr  ;
  }
}

@media only screen and (max-width: 905px) {
  #headerInput {
    width: 300px;
  }
}
@media only screen and (max-width: 789px) {
  .hero__skills-box {
    width: 70%;
  }
}
@media only screen and (max-width: 745px) {
}

// header hero mediasi
