.reimagine__title {
  font-size: 30px;
  margin-bottom: 3px;
}
.reimagine {
  padding: 48px 117px;
}
.reimagine__list-box {
  border: 1px solid silver;
  border-radius: 15px;
  padding: 16px;
}
.reimagine__menu-boxes {
  @include d-flex(center, 20px);
  margin-top: 24px;
}
.reim__listbox-title {
  margin: 16px 0 8px 0;
}
.reim__listbox-text {
  margin: 0 0 16px 0;
}
.reim__listbox-texts {
  @include d-flex(0, 10px);
}
.reimange__img {
  max-width: 100%;
}
.listbox-text {
  color: #d1d2e0;
  border: 2px solid #d1d2e0;
  border-radius: 5px;
  padding: 5px;
}
.reimagine__all-accelators-btn {
  padding: 11px 13px;
  background-color: white;
  color: #6d28d2;
  border: 2px solid #6d28d2;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 24px;
  transition: all linear 0.3s;
}
.reimagine__all-accelators-btn:hover {
  background-color: #6d28d2;
  color: white;
  border: 2px solid #6d28d2;
}
